/* Attributi generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principale {
    margin-top: 0px;
    
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-flex-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-flex-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* INIZIO HEADER  */

.header-container {
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 0px;

}

.dimension-container {
    width: 1400px;
    margin: 0px auto;
}

.header-container > .dimension-container > .container-flex-c > ol > li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

.header-container > .dimension-container > .container-flex-c > ol > li > a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;

}

#logo {
    width: 180px;
    height: 42px;
}

/* FINE HEADER  */

/* INIZIO MAIN  */


.grandezza > img {
   width: 100%;
}

.grandezza {
    width: calc((100% / 3) - 20px);
} 

.central {
    margin-left: 10px;
    margin-right: 10px;
}

.top-margin {
    margin-top: 150px;
}